@charset "UTF-8";
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/img/hero.jpeg");
  background-size: cover;
  background-attachment: fixed;
  color: #e74c3c;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}
header .title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 128px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  padding: 16px 32px;
}
header .title h1 {
  font-weight: 500;
  font-size: 72px;
  margin: 0;
  font-family: "Shadows Into Light Two", cursive;
  line-height: 1;
}
header .title span {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
  font-weight: 600;
}
header .title a {
  position: absolute;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  bottom: 48px;
  right: 32px;
}
header .title a::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  top: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
header .title a:hover::after {
  transform: scaleX(1);
}

#personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 128px;
  background-color: rgba(0, 0, 0, 0);
}
#personal-info p {
  text-align: center;
  max-width: 600px;
  margin: 4px 0;
}
#personal-info p b {
  font-weight: 600;
  font-size: 14px;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 96px;
  background-color: rgba(0, 0, 0, 0);
}
#skills h2 {
  flex-basis: 100%;
  margin: 32px 16px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  color: #e74c3c;
  text-align: center;
}
#skills .skillset {
  flex-basis: calc(100% / 3);
  margin: 0;
  padding: 0 16px;
}
#skills .skillset h3 {
  color: #3498db;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  padding: 32px 0 0 0;
}
#skills .skillset ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 4px 0;
  flex-wrap: wrap;
}
#skills .skillset ul li {
  padding: 0 8px;
  font-size: 18px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 32px;
  background-color: rgba(0, 0, 0, 0);
}
#projects h2 {
  flex-basis: 100%;
  margin: 32px 16px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  color: #e74c3c;
  text-align: center;
}
#projects .list {
  padding: 0 8px;
  flex-basis: 40%;
}
#projects .list .project {
  padding: 4px 0;
  cursor: pointer;
}
#projects .list .project:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
#projects .list .project.active {
  background-color: rgba(0, 0, 0, 0.08);
}
#projects .list .project.active h4 {
  color: #3498db;
  font-weight: 600;
}
#projects .list .project:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#projects .list .project img {
  display: none;
  width: 100%;
  height: 92px;
  object-fit: cover;
}
#projects .list .project h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0;
  padding: 0 16px;
}
#projects .list .project ul {
  list-style: none;
  margin: 0 0 18px 0;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
#projects .list .project ul li {
  text-transform: uppercase;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  font-weight: 500;
}
#projects .details {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  overflow-y: auto;
  padding: 0 10px;
}
#projects .details .info {
  text-align: center;
  color: #5faee3;
}
#projects .details.active {
  display: flex;
}
#projects .details h3 {
  font-size: 20px;
  font-weight: 600;
  color: #3498db;
}
#projects .details ul {
  margin: 0;
}
#projects .details a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #000;
}
#projects .details a::before {
  content: "🌎";
  padding: 0 4px 0 0;
}
#projects .details p {
  transition: all 0.4s ease-in-out;
  z-index: 1;
  text-align: justify;
  margin: 10px 0;
}
#projects .details p .icon {
  color: #F9A825;
  margin-right: 4px;
}
#projects .details p.summary {
  font-size: 16px;
  font-weight: 600;
}
#projects .details p.extra {
  margin: 0 0 10px;
  font-size: 14px;
}
#projects .details p a {
  color: #0a0a0a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

#contact {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #d6dee2;
}
#contact .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}
#contact .left img {
  width: auto;
  height: 256px;
}
#contact .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 72px;
}
#contact .right a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 16px 0;
}
#contact .right a i {
  margin-right: 24px;
  font-size: 40px;
  color: black;
}
#contact .right a span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
}
#contact .right a:hover span {
  color: black;
}

@media screen and (max-width: 1024px) {
  #projects {
    padding: 72px 16px;
  }
}
@media screen and (max-width: 768px) {
  header {
    justify-content: flex-start;
    background-image: url("/img/hero-potrait.jpeg");
  }
  header .title {
    margin: 0;
    width: 100%;
  }
  header a {
    bottom: 64px;
  }

  #personal-info {
    padding: 72px 16px;
  }

  #skills {
    padding: 72px 16px;
  }
  #skills .skillset {
    flex-basis: 100%;
  }

  #projects {
    padding: 72px 16px;
  }
  #projects .list {
    flex-basis: 100%;
  }
  #projects .list .project.active {
    background-color: inherit;
  }
  #projects .details {
    display: none;
  }
  #projects .details.active {
    display: none;
  }

  #contact {
    height: auto;
    padding: 32px 0;
  }
  #contact .left {
    display: none;
  }
  #contact .right {
    flex-basis: 100%;
    padding: 0 32px;
  }
  #contact .right a i {
    font-size: 24px;
  }
  #contact .right a span {
    font-size: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
